{% extends "base.html" %}

{% block content %}
	<h1> Sign In </h1>
	<form action="login" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }}
			{{ form.username(size=22) }}
			{% for error in form.username.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}
			{{ form.password(size=22) }}
			{% for error in form.password.errors%}
				<span style="color: red;">[{{ error }}]</span>
			{%endfor%}
		</p>
		<p>
			{{ form.remember_me.label }}
			{{ form.remember_me }}
			{{ form.submit }}
		</p>
	</form>
{% endblock %}