{% extends "base.html" %}

{% block content %}
	<h1> Sign In </h1>
	{% from "form_helper.html" import render_field %}
	<form action="login" method="post">
		{{ form.hidden_tag() }}

	    <dl>
		    {{ render_field(form.username, size=20) }}

	    </dl>
		<p>
			{{ form.password.label }}
			{{ form.password(size=20) }}
			{% for error in form.password.errors%}
				<span style="color: red;">[{{ error }}]</span>
			{%endfor%}
		</p>
		<p>
			{{ form.remember_me.label }}
			{{ form.remember_me }}
			{{ form.submit }}
		</p>
	</form>
{% endblock %}